// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.container {
  margin: 0 auto;
  padding-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.hideme {
  display: none;
  visibility: hidden;
}

button {
  margin-top: 1rem;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 39rem;
}

.poke {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  background-color: lightgray;
  padding: 10px 5px;
  width: 12rem;
}

.pokename {
  text-transform: capitalize;
}